* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ddd;
}

.App {
    width: 800px;
    background-color: #fff;

}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid #fc0;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateY(+1000px);
}
.post-enter-active {
    transform: translateY(0px);
    transition: all 1s;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateY(+1000px);
    transition: all 1s ease-in;

}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid #fc0;
    cursor: pointer;
}



.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
    margin-bottom: 25px;
}

.navbar__links {
    margin-left: auto;
}
.main-container {
    background-color: #fff;
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}
.tz {
    margin: 25px 50px;
    text-align: start;
    width:60%;
    list-style-type: none;
}
.tz li{
   padding: 15px;
   font-size: 1.2rem;
}
