.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px dotted #1b2b37;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}


